/* tailwindcss stuff */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);
  --step-6: clamp(3.3594rem, 2.8694rem + 2.45vw, 4.7681rem);
  --step-7: clamp(4.0313rem, 3.3602rem + 3.3554vw, 5.9606rem);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  font-size: small;
  border-radius: 1rem;
  display: inline-block;
  padding: 2px 4px;
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1900px, 0, 0); /* The image width */
  }
}

.container {
  overflow: hidden;
  display: flex;
  height: 75px;
  width: 100vw;
  margin: 0 auto;
}

.container2 {
  overflow: hidden;
  display: flex;
  height: 75px;
  width: 100vw;
  margin: 0 auto;
}

.container div {
  height: 60px;
  min-width: 200px;
  margin-left: 10px;
  animation: slide 60s linear infinite;
}

.container2 div {
  height: 60px;
  min-width: 200px;
  margin-left: 10px;
  animation: slide 60s linear infinite;
  animation-direction: reverse;
}

/* mobile container2 div */
@media (max-width: 600px) {
  .container {
    overflow: hidden;
    display: flex;
    height: 50px;
    width: 100vw;
    margin: 0 auto;
  }

  .container2 {
    overflow: hidden;
    display: flex;
    height: 50px;
    width: 100vw;
    margin: 0 auto;
  }

  .container div {
    height: 45px;
    min-width: 140px;
    margin-left: 10px;
    animation: slide2 60s linear infinite;
  }

  .container2 div {
    height: 45px;
    min-width: 140px;
    margin-left: 10px;
    animation: slide2 60s linear infinite;
    animation-direction: reverse;
  }
}

@keyframes slide2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1900px, 0, 0);
  }
}

